.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;   
    padding-top: 100%;

}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


}
.video {
  height: 100vh;
  object-fit: cover;

}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.Hat{
  color:#fff;
  position: relative;

}
.sots{
    border-left: 3px ;
    border-left-style: solid;
    border-color: #FF4500;
    padding: 0 10px;
}
.content{
    padding-bottom: 70px;
}

.card-img-top{

    width: 60px;
    height: 60px;
    position: relative;
    left: 185px;

 
}
.card{
    
    max-width: 100%;
    height: 15rem;
    overflow: hidden;
}
.block2{
    background: linear-gradient(to right, #040613 0%, #1c1e2a 100%);
    
    position: absolute;
    top: 3500px;
    z-index: -100;
    width: 500px;

}
@media (min-width: 768px) {
    
    .comp-menu{
        margin: 10px;

    }
    .fullscreen-bg{
        padding-top:25%;
    }
    .card{
        width: 18rem;
        height: 22rem;
    }
    .block2{
        top: 1800px;
    }
    .card-img-top{
        left: 110px;
    }

}

.Big{
    font: Montserrat;
    font-size: 80%;
    font-weight: 800;

}
