
.content {
    margin-top: 15%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.Hat{
  color:#fff;


}
.sots{
    border-left: 3px ;
    border-left-style: solid;
    border-color: #FF4500;
    padding: 0 10px;

}
.content{
    padding-bottom: 70px;
}

.card-img-top{

    width: 60px;
    height: 60px;
    position: relative;
    left: 38vw;

 
}


.block2{
    color: #fff;
    display: flex;
    background: linear-gradient(to right, #040613 0%, #1c1e2a 100%);
    flex-direction: column-reverse;
    margin-top: -40vw;

}
.orange{
    color: #FF4500;
}
.video-container {
    height: auto;
    width: 100vw;
    position: relative;

    }

    .video-container video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      filter: brightness(20%);
    }

    /* Just styling the content of the div, the *magic* in the previous rules */
    .video-container .caption {
      z-index: 1;
      position: relative;
      color: #dc0000;
      padding: 10px;

    }
.bigh1{
    font-size: 3.5em;
    text-align: center;
}
.img-fluid{
    margin-bottom: 25px;
}

#navbar ul {
   
width: auto;
  display: none;
  background-color: #FF4500;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  list-style-type: none;
}
#navbar {
  height: 30px;
  display: flex; /* (1) */
  justify-content: space-between;
  min-width: 470px;
}
#navbar li {

  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;

}
#navbar ul li { float: none;  }
#navbar ul li:hover { background-color: #A62500; }

.bigbutton{

    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #FF4500;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin:5px auto;
    display: block;
}
.bigbutton:hover {
    background-color:#FF4500;
    transition: 0.7s;
}
.bigwords{
        text-align: center;
    }
.compss{
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/

    color:#fff;/*Задаём цвет ссылки*/
}
.compss:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #FF4500; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.compss:hover:after,
.compss:focus:after {
    width: 100%;
}
.compss:hover{
    color:#225384;
} 
.bu{  
    border-color: #fff;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);   
    text-align: left;
}

#menu * { 
  padding:0; 
  margin: 0; 
  list-style-type:none;
}
#menu { 
  
  left: 200px;
}
#menu a { 
  display: block; 
  text-decoration: none; 
  color: #fff;
  border-bottom: solid; border-color: #fff; border-width: 1px
}
#menu a:hover { background: #000;}
#menu ul li ul li a:hover { 
  background: #000;

}
#menu ul li ul li {
 
  border: none; 
  color: #000;  
  padding-top: 3px; 
  padding-bottom:3px; 
  padding-left: 3px; 
  padding-right: 3px; 
  background: #000;
}

#menu ul li {
  float: left; 
  width:100vw;  
  background: #000;
}
#menu ul li a { 
  padding: 15px 10px;
}
#menu li {
  position:relative; 
  
}
#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul {
  display:none;
  list-style-type:none;
  width: 20px;
}
#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul {
  display:block;
}
#menu:hover ul li:hover ul li:hover ul {
  position: absolute;

}
#menu:hover ul li:hover ul {
  position: absolute;
  margin-top: 1px;

}
#menu>ul>li:hover>ul { 
    bottom:100%;
}

.block3{
   background-image: url("img/D-background-opacity.svg"); 
   margin-bottom: 30px;  
}
.block3 h3{
    text-align: center;
    
}

.cardbutton{
    
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #FF4500;
    background-color: transparent;
    height: 50px;
    margin: 5px;
    color: #FF4500;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
}
.cardbutton:hover {
    background-color:#FF4500;
    color: #fff;
    transition: 0.7s;
}
#caaard1{   
    max-width: 100%;
    overflow: hidden;
}
#caaard{
    margin: 28px;
    width: 25rem;
    height: auto;
}
.card2head{
    width: 100%;
    border-bottom: 2px solid;
    border-color: lightgray;
    font-weight: bold;
    color: #FF4500;
    text-align: left;
    padding: 25px;
}
ol li{
    padding: 8px;
}
.block3title{
    text-align: center;
    font-weight: bold;
    color: #000;
    padding-top: 50px;
}
#caaard:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
.dop{
    color: gray;
    text-align: center;
}
.ssilka{
    color: #191970; 
    display: block;  text-align:center;
}
@media (min-width: 768px) {
    .video-container {
    height: auto;
    width: 100vw;
    position: relative;
    }

    .video-container video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      filter: brightness(20%);
    }

    /* Just styling the content of the div, the *magic* in the previous rules */
    .video-container .caption {
      z-index: 1;
      position: relative;
      color: #dc0000;
      padding: 10px;
    }
    .comp-menu{
        margin: 10px;

    }
    
     .card-img-top{

    width: 60px;
    height: 60px;
    position: relative;
    left: 6vw;

 
    }
    #caaard1{
        width: 18rem;
        height: 22rem;
    }
    .Hat{
        color: #fff;


    }
    
    .bigh1{
    font-size: 3.5em;
    text-align: left;
    }
    .bigbutton{
        text-align: center;
        margin:5px 0;

    }
    .bigwords{
        text-align: left;
    }
    .block2{
        
        flex-direction: row;
        margin-top: -20vw;
    }
    .laptop{
        width : 40%;
        margin-top: 20vw;
    }
    
}

.Big{
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: initial;
    align-self: center;
}

.headerTeam{
    font: Montserrat;
    font-size: 80%;
    font-weight: 800;
}
.container-1{
    background-color: #CD5C5C    ;
    display: block
    padding: auto;
    margin: 0;
}
.block-6{
    white-space: nowrap;
    text-align: center;
}
.block-6-text{
    text-align: center;
}
.img{
    display: flex;
    align: center;
}
.block-card-4{
    background-image: url("img/D-background-opacity.svg");
}
.block-5-h3{
    text-overflow: clip;
    text-align: center;
    padding-bottom: 20px;
}
.block-5-text{
    text-overflow: clip;
    text-align: center;
    padding-bottom: 40px;
}

.block-4{
    margin-bottom: 30px;
}
.bigbutton{
    text-align: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #000000;
    background-color: transparent;
    height: 50px;
    margin: 5px;
    color: #FF4500;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
}
.case{
    iheight: auto ;
    width: auto ;
    box-sizing: border-box;

    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 475px;
}

.ca2se-2{
    iheight: auto ;
    width: auto ;
    box-sizing: border-box;
    background-image: url("img/p2.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 475px;
    border-radius: 5px;
}

.responsive {
    width: 100%;
    height: auto;
}
.ca2se-2-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 40px;
}
.block-7{
    padding-bottom: 30px;
}

footer {
  background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%),url(project/img/D-flying.svg) no-repeat top center,url(project/img/D-footer.svg) no-repeat bottom right/40%,#040613;
  padding: 117px 0 54px;
  color: #fff;
  font-family: Montserrat;
}
.block-form-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: initial;
  line-height: 1.215;
}
.block-form-description {
  line-height: 1.55;
  font-weight: 500;
  font-size: 14px;
  color: rgba(256,256,256,.7);
}
.block-form-contacts{
  margin-top: 15px;
}
.block-form-contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
label, .checkbox label {
  font-weight: normal;
  cursor: pointer;
}
.block-form-contacts ul li a {
  font-size: 14px;
}
.block-form-contacts .block-form-phone a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.block-form-contacts .block-form-email a {
  text-decoration: underline;
}
.block-form-contacts ul li>a {
  color: #fff;
  display: inline-block;
  padding-left: 40px;
  font-weight: bold;
  position: relative;
  line-height: 1.1;
}
.block-form-phone>a:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url(project/img/phone.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 3px;
    bottom: 13px;
    opacity: .8;
}
.block-form-email a:before {
  content: "";
  display: block;
  width: 24px;
  height: 18px;
  background: url(project/img/mail.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 13px;
  opacity: .8;
}
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #e5e5e5;
}
.social-links {
  margin-top: 70px;
  margin-bottom: 15px;
}
.social-links-item {
  display: inline-block;
  margin-right: 10px;
}
.social-links img {
  border: 0;
  vertical-align: middle;
  aspect-ratio: auto 625 / 603;
}
.social-links-item a {
  border: 2px solid #f14d34;
  background-color: #f14d34;
  border-radius: 5px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  transition: background 300ms;
  appearance: none;
}
.social-links-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
.field--type-text-with-summary1:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(256,256,256,.3);
}
.field--name-field-block-with-form-value form .form-type-textfield label, .field--name-field-block-with-form-value form .form-type-textarea label, .field--name-field-block-with-form-value form .form-type-email label {
  display: none;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
.field--name-body {
  padding-top: 56px;
}
.field--name-field-block-with-form-value form input, .field--name-field-block-with-form-value form textarea {
  background: transparent;
  border: 1px solid rgba(256,256,256,.3);
  border-radius: 5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 14px;
  padding: 26px 24px;
  color: #fff;
}
.field--name-field-block-with-form-value .form-type-checkbox label a {
  color: #f14d34;
}
.field--name-field-block-with-form-value .form-type-checkbox label {
  font-size: 12px;
  color: #fff;
}
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-required:after {
  background-size: 7px 7px;
  width: 7px;
  vertical-align: text-top;
  margin-left: 2px;
}
.form-required:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI0VFMDAwMCIgIGQ9Ik0wLDcuNTYybDEuMTE0LTMuNDM4YzIuNTY1LDAuOTA2LDQuNDMsMS42ODgsNS41OSwyLjM1QzYuMzk4LDMuNTUzLDYuMjM3LDEuNTQ0LDYuMjIsMC40NDdoMy41MTEgYy0wLjA1LDEuNTk3LTAuMjM0LDMuNi0wLjU1OCw2LjAwM2MxLjY2NC0wLjgzOCwzLjU2Ni0xLjYxMyw1LjcxNC0yLjMyNUwxNiw3LjU2MmMtMi4wNSwwLjY3OC00LjA2LDEuMTMxLTYuMDI4LDEuMzU2IGMwLjk4NCwwLjg1NiwyLjM3MiwyLjM4MSw0LjE2Niw0LjU3NWwtMi45MDYsMi4wNTljLTAuOTM1LTEuMjc0LTIuMDQxLTMuMDA5LTMuMzE2LTUuMjA2Yy0xLjE5NCwyLjI3NS0yLjI0NCw0LjAxMy0zLjE0Nyw1LjIwNiBsLTIuODU2LTIuMDU5YzEuODcyLTIuMzA3LDMuMjExLTMuODMyLDQuMDE3LTQuNTc1QzMuODQ5LDguNTE2LDEuODcyLDguMDYyLDAsNy41NjIiLz48L3N2Zz4K);
  background-repeat: no-repeat; 
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
}
textarea.form-control {
  height: auto;
}
textarea {
  overflow: auto;
}
.resize-vertical {
  min-height: 2em;
  resize: vertical;
}
.radio label, .checkbox label {
  min-height: 22px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #f14d34;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 136 0 / 25%);
}
.field--name-field-block-with-form-value .btn, .field--name-field-block-with-form-value .btn:focus, .field--name-field-block-with-form-value .btn:active {
  background: #f14d34;
  border: 2px solid #f14d34;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  outline: 0;
  box-shadow: none;
  margin: 0;
  display: block;
  width: 100%;
  padding: 20px 14px;
  line-height: 1;
  transition: background 300ms;
}
.field--name-field-block-with-form-value .form-type-checkbox .custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid rgba(256,256,256,.5);
  border-radius: 5px;
}
.field--name-field-block-with-form-value .form-type-checkbox input.custom-checkbox:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: url(project/img/checked-icon.svg) no-repeat center;
  background-size: contain;
  transition: opacity 200ms,transform 400ms;
  transform: rotateZ(-30deg);
  opacity: 0;
}
button, input, optgroup, select, textarea {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
footer p {
  text-align: justify;
  margin: 0 0 11px;
  margin-bottom: 0;
  
  display: inline;
}



/* отзывы*/
  
.review h2{
  text-align: center;
}

.review-wrapper {
  background: url(project/img/right-quote-sign.svg) no-repeat;
  background-size: 26%;
  background-position: left top;
}

@media (min-width: 768px) {
  .review-wrapper {
    background-position: left top;
  }
}

.review {
  padding-top: 55px;
  margin-bottom: 110px;
}

@media (min-width: 768px) {
  .review {
    padding-top: 90px;
    margin-bottom: 160px;
  }
}

.review h2 {
  font-size: 24px;
  padding-bottom: 12px;
}

@media (min-width: 601px) {
  .review h2 {
    padding-bottom: 35px;
  }
}

@media (min-width: 768px) {
  .review h2 {
    font-size: 42px;
    padding-bottom: 38px;
  }
}

.review-shadow {
  width: 980px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 768px) {
  .review-shadow {
    margin-top: 56px;
  }
}

.review-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 5;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

.review-shadow::before {
  content: "";
  display: block;
  background: #fff;
  opacity: .5;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  position: absolute;
  top: -15px;
  bottom: 0;
  left: 15px;
  right: 15px;
  z-index: 0;
}

@media (min-width: 601px) {
  .review-shadow::before {
    left: 34px;
    right: 34px;
    top: -25px;
  }
}

@media (min-width: 992px) {
  .review-shadow::before {
    left: 64px;
    right: 64px;
    top: -40px;
  }
}

.review-shadow::after {
  content: "";
  display: block;
  background: #fff;
  opacity: .34;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 30px;
  right: 30px;
  z-index: 4;
}

@media (min-width: 601px) {
  .review-shadow::after {
    top: -48px;
    left: 68px;
    right: 68px;
  }
}

@media (min-width: 992px) {
  .review-shadow::after {
    left: 128px;
    right: 128px;
    top: -72px;
  }
}

.review-slider {
  width: 100%;
  padding: 20px 15px;
  border-right: none;
  border-bottom: 1px solid #cdcdcd;
}

#review-prev {
  background: url("project/img/arrow-left.svg") no-repeat;
}

#review-next {
  background: url("project/img/arrow-right.svg") no-repeat;
}

#review-prev,
#review-next {
  width: 17px;
  height: 32px;
  border: none;
}

#review-prev:focus,
#review-next:focus {
  outline: none;
}

.review-display {
  font-size: 28px;
  font-weight: 400;
  margin: 0 46px;
  color: #e0e0e0;
}

#review-number {
  color: #050c33;
}

.review-arrow-block {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

@media (min-width: 992px) {
  .review {
    margin-bottom: 160px;
  }
  .review-block {
    flex-direction: inherit;
    padding: 66px 0 66px 68px;
    margin-top: 0px;
  }
  .review-slider {
    width: 70%;
    border-right: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 14px 60px;
  }
  .review-arrow-block {
    width: 30%;
  }
}

.review-slide {
  font-size: 14px;
  line-height: 1.2;
}

.review-slide:focus {
  outline: none;
}

.review-slide img {
  margin-bottom: 40px;
  max-width: 40%;
}

@media (min-width: 768px) {
  .review-slide img {
    margin-bottom: 40px;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .review-slide img {
    margin-bottom: 40px;
    max-width: 40%;
  }
}

.review-text {
  font-weight: bold;
  margin-bottom: 28px;
  color: #050c33;
}

.review-author {
  color: #838b9c;
  font-weight: 500;
}

.review-author a {
  font-weight: 400;
  color: #050c33;
  text-decoration: underline;
}

.review-author a:hover {
  font-weight: 400;
  color: #050c33;
  text-decoration: none;
}
/*отзывы*/
/*Clients*/

.clients h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .clients h2 {
    font-size: 42px;
    margin-bottom: 10px;
  }
}

.clients-header {
  width: 740px;
  max-width: 100%;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 auto 20px;
  color: #505570;
  font-weight: 500;
  line-height: 1.37;
  text-align: center;
}

@media (min-width: 768px) {
  .clients-header {
    margin-bottom: 40px;
  }
}

.clients-slide img {
  margin: auto;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.clients-slide {
  padding: 5px;
}

.clients-slide div {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}

#slider-2 .clients-slide {
  transform: translateX(50%);
}
/*Clients*/

 @media (max-width: 767px) {
  .more-link{
    margin-left: 20%;
  }
  .row-flex{ 
  margin-bottom: 10px; 
  } 
 } 


@font-face{
    font-family: "Montserrat";
    src:url(ofont.ru_Montserrat.ttf) format("truetype");
    font-style: normal;
    font-weight:normal;
}
