
.content {
    margin-top: 15%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.Hat{
  color:#fff;


}
.sots{
    border-left: 3px ;
    border-left-style: solid;
    border-color: #FF4500;
    padding: 0 10px;

}
.content{
    padding-bottom: 70px;
}

.card-img-top{

    width: 60px;
    height: 60px;
    position: relative;
    left: 38vw;

 
}
.card{
    
    max-width: 100%;
    height: 15rem;
    overflow: hidden;
}

.block2{
    background: linear-gradient(to right, #040613 0%, #1c1e2a 100%);
    z-index: -100;

}
.orange{
    color: #FF4500;
}
.video-container {
    height: auto;
    width: 100vw;
    position: relative;

    }

    .video-container video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      filter: brightness(20%);
    }

    /* Just styling the content of the div, the *magic* in the previous rules */
    .video-container .caption {
      z-index: 1;
      position: relative;
      color: #dc0000;
      padding: 10px;

    }
.bigh1{
    font-size: 3.5em;
    text-align: center;
}


#navbar ul {
   
width: auto;
  display: none;
  background-color: #FF4500;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  list-style-type: none;
}
#navbar {
  height: 30px;
  display: flex; /* (1) */
  justify-content: space-between;
  min-width: 470px;
}
#navbar li {

  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;

}
#navbar ul li { float: none; padding: 3px; }
#navbar ul li:hover { background-color: #A62500; }

.bigbutton{

    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #FF4500;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    position: relative;
    left: 25%;
}
.bigbutton:hover {
      background-color:#FF4500;
      transition: 0.7s;
}
.bigwords{
        text-align: center;
    }
.compss{
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/

    color:#fff;/*Задаём цвет ссылки*/
}
.compss:after {
display: block; /*превращаем его в блочный элемент*/
content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
height: 3px; /*задаём высоту линии*/
width: 0%; /*задаём начальную ширину элемента (линии)*/
background-color: #FF4500; /*цвет фона элемента*/
transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.compss:hover:after,
.compss:focus:after {
width: 100%;
}
.compss:hover{
color:#225384;
} 
@media (min-width: 768px) {
    .video-container {
    height: auto;
    width: 100vw;
    position: relative;
    }

    .video-container video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 0;
      filter: brightness(20%);
    }

    /* Just styling the content of the div, the *magic* in the previous rules */
    .video-container .caption {
      z-index: 1;
      position: relative;
      color: #dc0000;
      padding: 10px;
    }
    .comp-menu{
        margin: 10px;

    }
    
     .card-img-top{

    width: 60px;
    height: 60px;
    position: relative;
    left: 6vw;

 
    }
    .card{
        width: 18rem;
        height: 22rem;
    }
    .Hat{
        color: #fff;


    }
    
    .bigh1{
    font-size: 3.5em;
    text-align: left;
    }
    .bigbutton{
        text-align: center;
        position: relative;
        left: 0%;
    }
    .bigwords{
        text-align: left;
    }
    
}

.Big{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: initial;
    align-self: ;
}

.headerTeam{
    font: Montserrat;
    font-size: 80%;
    font-weight: 800;
}
.container-1{
    background-color: #CD5C5C    ;
    display: block
    padding: auto;
    margin: 0;
}
.block-6{
    white-space: nowrap;
    text-align: center;
}
.block-6-text{
    text-align: center;
}